.center-text {
	text-align: center;
	margin-bottom: 15px;
}

p {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 4em;
}
h1, h2, h3, h4 {
	font-family: 'Pacifico', cursive;
}


.hover-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-title {
	margin-bottom: 30px;
}

body {
    background: rgba(211, 244, 255, 0.8); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(211, 244, 255, 0.8), rgb(255,255,255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(211, 244, 255, 0.8), rgb(255,255,255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(211, 244, 255, 0.8), rgb(255,255,255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(211, 244, 255, 0.8), rgb(255,255,255)); /* Standard syntax */
    background-attachment:fixed;
	height:100%;
	
}
