[Desktop Entry]
Encoding=UTF-8
Name=Link to Cocktails by Ingredient
Type=Link
URL=https://www.cocktail.uk.com/cocktails/ingredients
Icon=text-html
Name[en_GB]=Link to cocktail.uk.com (By Ingredient)
