<?xml version="1.0"?>
<model>
  <name>elephant</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Miguel Angle Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    elephant Model blenderswap: https://blendswap.com/blend/17275; https://blendswap.com/blend/3449
  </description>
</model>
