<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.12" />
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0.0" />

  <!--Include description and control launch files-->
  <include file="$(find pr2_tc_description)/launch/robot_description.launch">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    <arg name="yaw" value="$(arg yaw)" />
  </include>
  <include file="$(find pr2_tc_description)/launch/robot_control.launch"/>

</launch>
